web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor/
bin/
composer.phar
composer.lock
app/config/parameters.yml
mysql-connector*

########## Vagrant ##########
vagrant/.vagrant

########## PHP Storm ##########
.idea/*

########## Mac OS ##########
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

########## other ##########
web/app_dev.php
